.bloque_list {
  display: none;
}
.input_header {
  display: none;
}

.imagen_principe::before,
.imagen_avatar::before,
.imagen_skull::before,
.imagen_home::before,
.imagen_inmortal::before,
.imagen_valorant::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 25vw;
  background-color: #363636;
  border-radius: 0.3rem;
  position: absolute;
}

#checkbox_2,
#checkbox_3,
#checkbox_4,
#checkbox_5,
#checkbox_6,
#checkbox_7,
#checkbox_8,
#checkbox_9,
#checkbox_10,
#checkbox_11,
#checkbox_12,
#checkbox_13,
#checkbox_14,
#checkbox_15,
#checkbox_16,
#checkbox_17,
#checkbox_18,
#checkbox_19,
#checkbox_20,
#checkbox_21,
#checkbox_22,
#checkbox_23,
#checkbox_24,
#checkbox_25,
#checkbox_26 {
  display: none;
}

#checkbox_1:checked ~ .bloque_list {
  display: grid;
}

#checkbox_1:checked ~ header .arrow {
  animation: checkedarrow 0.3s forwards;
}

#checkbox_2:checked ~ header,
#checkbox_2:checked ~ main,
#checkbox_2:checked ~ footer {
  display: none;
}

#checkbox_2:checked ~ .bloque_list2 {
  opacity: 1;
  z-index: 12;
}

@keyframes checkedarrow {
  from {
  }
  to {
    transform: rotate(180deg);
  }
}

#checkbox_3:checked ~ main .list_3 {
  display: block;
}

#checkbox_3:checked ~ main .arrow3 {
  animation: checkedarrow 0.3s forwards;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

.bloque_principe,
.bloque_avatar,
.bloque_skull,
.bloque_home,
.bloque_inmortal,
.bloque_valorant {
  transition: 0.3s;
}

#checkbox_5:checked ~ .bloque_4 .bloque_principe,
#checkbox_5:checked ~ .bloque_4 .bloque_avatar,
#checkbox_5:checked ~ .bloque_4 .bloque_skull,
#checkbox_5:checked ~ .bloque_4 .bloque_home,
#checkbox_5:checked ~ .bloque_4 .bloque_inmortal,
#checkbox_5:checked ~ .bloque_4 .bloque_valorant {
  transform: translateX(-62vw);
  transition: 0.3s;
}

#checkbox_4:checked ~ .bloque_4-2 .imagen_principe,
#checkbox_5:checked ~ .bloque_4-2 .imagen_avatar,
#checkbox_6:checked ~ .bloque_4-2 .imagen_skull,
#checkbox_7:checked ~ .bloque_4-2 .imagen_home,
#checkbox_8:checked ~ .bloque_4-2 .imagen_inmortal,
#checkbox_9:checked ~ .bloque_4-2 .imagen_valorant {
  animation: bg-color 6s;
  overflow: hidden;
}
#checkbox_4:checked ~ .bloque_4-2 .imagen_principe::before,
#checkbox_5:checked ~ .bloque_4-2 .imagen_avatar::before,
#checkbox_6:checked ~ .bloque_4-2 .imagen_skull::before,
#checkbox_7:checked ~ .bloque_4-2 .imagen_home::before,
#checkbox_8:checked ~ .bloque_4-2 .imagen_inmortal::before,
#checkbox_9:checked ~ .bloque_4-2 .imagen_valorant::before {
  animation: animacion_checked 6s;
}
@keyframes bg-color {
  0% {
    background-color: #252525;
  }
  20% {
  }
  50% {
    background-color: #252525;
  }
  80% {
    background-color: #252525;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes animacion_checked {
  0% {
    right: 15vw;
  }

  80% {
    right: -0.5vw;
    background-color: #363636;
  }
  100% {
    right: -0.5vw;
    background-color: transparent;
  }
}

#checkbox_6:checked ~ .bloque_4 .bloque_principe,
#checkbox_6:checked ~ .bloque_4 .bloque_avatar,
#checkbox_6:checked ~ .bloque_4 .bloque_skull,
#checkbox_6:checked ~ .bloque_4 .bloque_home,
#checkbox_6:checked ~ .bloque_4 .bloque_inmortal,
#checkbox_6:checked ~ .bloque_4 .bloque_valorant {
  transform: translateX(-124vw);
  transition: 0.3s;
}

#checkbox_7:checked ~ .bloque_4 .bloque_principe,
#checkbox_7:checked ~ .bloque_4 .bloque_avatar,
#checkbox_7:checked ~ .bloque_4 .bloque_skull,
#checkbox_7:checked ~ .bloque_4 .bloque_home,
#checkbox_7:checked ~ .bloque_4 .bloque_inmortal,
#checkbox_7:checked ~ .bloque_4 .bloque_valorant {
  transform: translateX(-187vw);
  transition: 0.3s;
}

#checkbox_8:checked ~ .bloque_4 .bloque_principe,
#checkbox_8:checked ~ .bloque_4 .bloque_avatar,
#checkbox_8:checked ~ .bloque_4 .bloque_skull,
#checkbox_8:checked ~ .bloque_4 .bloque_home,
#checkbox_8:checked ~ .bloque_4 .bloque_inmortal,
#checkbox_8:checked ~ .bloque_4 .bloque_valorant {
  transform: translateX(-249vw);
  transition: 0.3s;
}

#checkbox_9:checked ~ .bloque_4 .bloque_principe,
#checkbox_9:checked ~ .bloque_4 .bloque_avatar,
#checkbox_9:checked ~ .bloque_4 .bloque_skull,
#checkbox_9:checked ~ .bloque_4 .bloque_home,
#checkbox_9:checked ~ .bloque_4 .bloque_inmortal,
#checkbox_9:checked ~ .bloque_4 .bloque_valorant {
  transform: translateX(-310vw);
  transition: 0.3s;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

.bloque_arrow-left label:nth-of-type(2),
.bloque_arrow-left label:nth-of-type(3),
.bloque_arrow-left label:nth-of-type(4),
.bloque_arrow-left label:nth-of-type(5),
.bloque_arrow-right label:nth-of-type(2),
.bloque_arrow-right label:nth-of-type(3),
.bloque_arrow-right label:nth-of-type(4),
.bloque_arrow-right label:nth-of-type(5) {
  display: none;
}

#checkbox_10:checked ~ .bloque_6-p .imagen_main-3 {
  transition: 0.3s;
  transform: translateX(-75vw);
}

#checkbox_10:checked ~ .bloque_5 .slider1 {
  display: none;
}
#checkbox_10:checked ~ .bloque_5 .slider-dis-1 {
  display: none;
}
#checkbox_10:checked ~ .bloque_5 .slider2,
#checkbox_10:checked ~ .bloque_5 .slider5 {
  display: grid;
}

#checkbox_11:checked ~ .bloque_6-p .imagen_main-3 {
  transition: 0.3s;
  transform: translateX(-151vw);
}

#checkbox_11:checked ~ .bloque_5 .slider1,
#checkbox_11:checked ~ .bloque_5 .slider-dis-1 {
  display: none;
}
#checkbox_11:checked ~ .bloque_5 .slider3,
#checkbox_11:checked ~ .bloque_5 .slider6 {
  display: grid;
}

#checkbox_12:checked ~ .bloque_6-p .imagen_main-3 {
  transition: 0.3s;
  transform: translateX(-226vw);
}
#checkbox_12:checked ~ .bloque_5 .slider1,
#checkbox_12:checked ~ .bloque_5 .slider-dis-1 {
  display: none;
}
#checkbox_12:checked ~ .bloque_5 .slider4,
#checkbox_12:checked ~ .bloque_5 .slider7 {
  display: grid;
}
#checkbox_13:checked ~ .bloque_6-p .imagen_main-3 {
  transition: 0.3s;
  transform: translateX(-241vw);
}
#checkbox_13:checked ~ .bloque_5 .slider1,
#checkbox_13:checked ~ .bloque_5 .slider-dis-1 {
  display: none;
}
#checkbox_13:checked ~ .bloque_5 .slider-dis,
#checkbox_13:checked ~ .bloque_5 .slider8 {
  display: grid;
}

@media screen and (max-width: 720px) {
  main {
    position: relative;
  }
  main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.61);
  }
  #checkbox_3:checked ~ main::before {
    display: block;
  }
  .bloque_7-1,
  .bloque_7-2,
  .bloque_7-3,
  .bloque_8-1,
  .bloque_8-2,
  .bloque_8-3,
  .separador-2 {
    transition: 0.3s;
  }
  #checkbox_16:checked ~ .bloque_7 .bloque_7-1,
  #checkbox_16:checked ~ .bloque_7 .bloque_7-2,
  #checkbox_16:checked ~ .bloque_7 .bloque_7-3 {
    transform: translateX(-75vw);
    transition: 0.3s;
  }

  #checkbox_17:checked ~ .bloque_7 .bloque_7-1,
  #checkbox_17:checked ~ .bloque_7 .bloque_7-2,
  #checkbox_17:checked ~ .bloque_7 .bloque_7-3 {
    transform: translateX(-130vw);
    transition: 0.3s;
  }

  .bloque_9-label {
    transition: 0.3s;
    background-color: #575757;
  }
  #checkbox_15:checked ~ .slider-p .label-2,
  #checkbox_16:checked ~ .slider-p label:nth-of-type(2),
  #checkbox_17:checked ~ .slider-p label:nth-of-type(3),
  #checkbox_18:checked ~ .bloque_9 .bloque_9-label:nth-of-type(1),
  #checkbox_19:checked ~ .bloque_9 .bloque_9-label:nth-of-type(2),
  #checkbox_20:checked ~ .bloque_9 .bloque_9-label:nth-of-type(3),
  #checkbox_21:checked ~ .bloque_9 .bloque_9-label:nth-of-type(4),
  #checkbox_22:checked ~ .bloque_9 .bloque_9-label:nth-of-type(5),
  #checkbox_23:checked ~ .bloque_9 .bloque_9-label:nth-of-type(6),
  #checkbox_24:checked ~ .slider-p-2 label:nth-of-type(1),
  #checkbox_25:checked ~ .slider-p-2 label:nth-of-type(2),
  #checkbox_26:checked ~ .slider-p-2 label:nth-of-type(3) {
    background-color: white;
    transform: scale(1.1);
    transition: 0.3s;
  }

  #checkbox_19:checked ~ .bloque_9 .bloque_9-imgs {
    transform: translateX(-72vw);
    transition: 0.3s;
  }
  #checkbox_20:checked ~ .bloque_9 .bloque_9-imgs {
    transform: translateX(-148vw);
    transition: 0.3s;
  }
  #checkbox_21:checked ~ .bloque_9 .bloque_9-imgs {
    transform: translateX(-220vw);
    transition: 0.3s;
  }
  #checkbox_22:checked ~ .bloque_9 .bloque_9-imgs {
    transform: translateX(-280vw);
    transition: 0.3s;
  }
  #checkbox_23:checked ~ .bloque_9 .bloque_9-imgs {
    transform: translateX(-355vw);
    transition: 0.3s;
  }

  #checkbox_24:checked ~ {
    transform: translateX(-355vw);
    transition: 0.3s;
  }
  #checkbox_23:checked ~ {
    transform: translateX(-355vw);
    transition: 0.3s;
  }

  #checkbox_25:checked ~ .bloque_8 .bloque_8-1,
  #checkbox_25:checked ~ .bloque_8 .bloque_8-2,
  #checkbox_25:checked ~ .bloque_8 .bloque_8-3,
  #checkbox_25:checked ~ .bloque_8 .separador-2 {
    transform: translateX(-67vw);
    transition: 0.3s;
  }
  #checkbox_26:checked ~ .bloque_8 .bloque_8-1,
  #checkbox_26:checked ~ .bloque_8 .bloque_8-2,
  #checkbox_26:checked ~ .bloque_8 .bloque_8-3,
  #checkbox_26:checked ~ .bloque_8 .separador-2 {
    transform: translateX(-135vw);
    transition: 0.3s;
  }
}
